@import url("http://fonts.cdnfonts.com/css/gotham");
:root {
  --color-black--: #000000;
  --color-gray--: #222222;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Gotham", sans-serif;
  color: white;
  background-color: var(--color-black--);
}
.top {
  height: 650px;
  background: rgba(0, 0, 0, 0.7) url("/assents/imgs/netiflix-bg-top.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
}

header {
  justify-content: space-between;
  display: flex;
  padding: 20px;
}
.globo {
  position: absolute;
  top: 33px;
}
#options {
  font-weight: bolder;
  background-color: transparent;
  color: #fff;
  margin-right: 30px;
  height: 38px;
  width: 110px;
  text-align: center;
  overflow: hidden;
}
option {
  background-color: #ccc;
  color: #000;
}
#options:focus {
  border: solid 2px white;
}

button.login {
  height: 38px;
  width: 80px;
  border: none;
  color: white;
  font-size: 1rem;
  background-color: #e50914;
  border-radius: 4px;
  cursor: pointer;
}
/*  */

.text-top {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 10%;
}
.text-top h1 {
  font-size: 3.125rem;
  font-weight: 500;
}
.text-top h2 {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 1.6rem;
  font-weight: 400;
}
.text-top h4 {
  font-weight: 600;
  margin-bottom: 20px;
}
form {
  display: flex;
  justify-content: center;
}
#email {
  padding: 10px;
  height: 58px;
  width: 450px;
  font-weight: bolder;
}
button#submit {
  color: #fff;
  background-color: #e50914;
  border: none;
  font-size: 1.7rem;
  padding: 2px;
  height: 58px;
  width: 160px;
  cursor: pointer;
}
/*hr = linhas  */
.line {
  width: 100%;
  height: 8px;
  background-color: var(--color-gray--);
}
.recommendations {
  display: flex;
  flex-direction: column;
}
.container-recommendations {
  justify-content: space-between;
  display: flex;
  padding: 20px 80px 0 80px;
  height: 500px;
}
.text {
  margin: 10% 10% 0 0;
}
.text h1 {
  font-size: 2.6rem;
  margin-bottom: 20px;
}
.text h2 {
  font-size: 1.7rem;
  font-weight: 400;
  text-align: start;
  font-weight: 400;
}
.loop {
  position: relative;
  height: 350px;
  width: 500px;
}
.img img {
  overflow: hidden;
  height: 400px;
  width: 500px;
  top: 0;
  left: 0;
  z-index: 1;
  position: relative;
}

.animation {
  position: absolute;
  top: 22%;
  right: 12%;
}
.animation video {
  z-index: 1;
  height: 230px;
  width: 380px;
}
/*  */

.containerDois .text {
  margin: 10% 0 0 10%;
}
.containerDois h1 {
  font-size: 3rem;
  white-space: nowrap;
}
.containerDois video {
  height: 200px;
  width: 315px;
}
.containerDois .animation {
  top: 10%;
  right: 20%;
}

.kid .text h1 {
  font-size: 2.9rem;
}
/* containerTry
 */
.containerTry .animation {
  top: 80%;
}
.containerTry .card {
  z-index: 1;
  align-items: center;
  border: 2px solid hsla(0, 0%, 100%, 0.25);
  min-width: 15em;
  border-radius: 0.75em;
  bottom: 8%;
  background: #000;
  box-shadow: 0 0 2em 0 #000;
  transform: translateX(-12%);
  display: flex;
  padding: 0.25em 0.65em;
  position: relative;
}
.containerTry .card img {
  height: 50px;
  width: 50px;
}
.textCard {
  padding: 20px;
}
.textCard h4 {
  font-weight: 900;
}
.textCard h5 {
  color: #005abc;
}
.container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
}
.container h1 {
  margin: 0 0 5% 0;
  font-size: 3rem;
}
.btn-exibir {
  cursor: pointer;
  border: 0;
  font-weight: 400;
  margin-top: 1.5vh;
  width: 60%;
  height: 80px;
  padding: 20px 30px;
  background-color: #303030;
  color: #fff;
  text-align: start;
  font-size: 1.6rem;
}
.content {
  font-size: 1.6rem;
  border: 0;
  font-weight: 400;
  margin-bottom: 1px;
  padding: 0.8em 2.2em 0.8em 1.2em;
  width: 60%;
  background-color: #303030;
  color: #fff;
}
footer {
  padding: 60px;
  text-align: center;
}
footer svg {
  color: #e50914;
}
footer svg:hover {
  color: #440003;
}
